envs/
checkpoints
checkpoints/
data
data/
!lightewm/vendor/fastwam/configs/data/
!lightewm/vendor/fastwam/configs/data/**
logs/
models/
!lightewm/vendor/fastwam/fastwam/models/
!lightewm/vendor/fastwam/fastwam/models/**
third_parties/*
!third_parties/AnyPos/
!third_parties/AnyPos/**
*.egg-info/
__pycache__/
trash_code/
outputs
wandb
server_scripts/
examples/Pretrain/
.deepspeed_env
