envs/
checkpoints/
data/
logs/
models/
third_parties/*
!third_parties/AnyPos/
!third_parties/AnyPos/**
*.egg-info/
__pycache__/
trash_code/
outputs
wandb
server_scripts/
examples/Pretrain/
.deepspeed_env
